<header class="main-header">
	<div class="container">
		<h1 class="mh-logo">
      <img src="https://media.giphy.com/media/H7wajFPnZGdRWaQeu0/giphy.gif" width="170" height="95" alt="video.ninja">

      <!-- <img src="https://media.giphy.com/media/zhmIHStBa2ezu/source.gif" width="170" height="95" alt="video.ninja"> -->
			<!-- <img src="https://media.giphy.com/media/S18kGlKwjxNp6/source.gif" width="170" height="95" alt="Flexbox.ninja"> -->
		</h1>
		<nav class="main-nav">
        <div class="nav-title">Glitch style video list</div>
		</nav>
	</div>
</header>
  <router-outlet></router-outlet>
