  <div class="container" *ngFor="let video of videos.items">
    <div class="plan">
      <h2><span>{{ video.title }}</span>
        </h2>
          <div class="video">
          <!-- <iframe [src]="video.embed_code"
           width="250" height="315" frameborder="0" allowfullscreen></iframe> -->

           <iframe src="https://www.youtube.com/embed/NZ2_mOTc4TM"
           width="250" height="315" frameborder="0" allowfullscreen></iframe>
        </div> 
      <p>
        <span>Published: </span>{{ video.published | date }} <br>
        <span>Duration: </span>{{ video.duration }}
      </p>
  </div> 